{% extends 'base.html.twig' %}

{% form_theme formDist 'bootstrap_4_layout.html.twig' %}

{% block content %}

<h1 class="md col-4 mx-auto">Ajouter Distributeur</h2>
<div class="col-md-4 mx-auto">
{{ form_start(formDist) }}
     {{form_row(formDist.marque)}}
     {{form_row(formDist.siret)}}
     {{form_row(formDist.ville)}}
     {{form_row(formDist.email)}}
     {{form_row(formDist.telephone)}}
     {{form_row(formDist.logo)}}
     <button type="submit" class="btn btn-primary">Ajouter</button>
{{ form_end(formDist) }}

</div>
{% endblock  %}

