{% extends 'base.html.twig' %}


{% form_theme ProduitFormFab 'bootstrap_4_layout.html.twig' %}

{% block content %}

{% set id = app.user.id %}
{% dump id %}


<div class="col-md-4 mx-auto">


    {{form_start(ProduitFormFab)}}

        {{ form_row(ProduitFormFab.category) }}
        {{ form_row(ProduitFormFab.type) }}
        {{ form_row(ProduitFormFab.matiere) }}

        {{ form_row(ProduitFormFab.image) }}
        {{ form_row(ProduitFormFab.content) }}
        {{ form_row(ProduitFormFab.fabric) }}

       {#  {{ form_row(ProduitFormFab.distrib) }} #}

        {% set varfabid = "" %}


        {% for distributeur in distribForm %}  
         {% if distributeur.user == app.user %}  
    {% dump distributeur.marque %} 
        {% set varfabid = distributeur.id %} 
        {% dump varfabid %}  

         {# <div style="display:none;">  #}
         {{ form_widget(ProduitFormFab.distrib, {'attr': {'value': varfabid }}) }} 
        {# </div> #}

          {% endif %}  
         {% endfor %}  

        <button type="submit" class="btn btn-primary">Ajouter Produit</button>


    {{form_end(ProduitFormFab )}}
</div>
<div>
{% endblock %}