{% extends 'base.html.twig' %}

{% block title %}Bati-Contact{% endblock %}

{% block content %}

    <h5 class="text-center mt-4">Profil</h5>
    <table class="table table-dark table-striped w-50 mx-auto">
        <tr>
            <th>Nom d'tulisateur</th>
            <th>Mot de passe</th>
            
        </tr>
      
            <tr>
                <td>{{ app.user.username }}</td>
                <td>{{ app.user.password }}</td>

                <td><a href="{{ path( 'update_userFab', {'id': app.user.id}) }}"><i class="btn btn-warning btn-sm">Modifier</i></a>

            </tr>

          <tr>
                    
                            <th>Marque</th>
                            <th>Siret</th>
                            <th>Ville</th>
                            <th>Email</th>
                            <th>Téléphone</th>
                            <th>Logo</th>
                        </tr>
                        
                            {% for fabricant in fabricants %}
                                <tr>
                            {% if fabricant.user == app.user  %}
                                    <td>{{ fabricant.marque }}</td>
                                    <td>{{ fabricant.siret }}</td>
                                    <td>{{ fabricant.ville }}</td>
                                    <td>{{ fabricant.email }}</td>
                                    <td>{{ fabricant.telephone }}</td>
                                    <td><img class="imgProduit" src="{{ asset('/Image/'~ fabricant.logo) }}"></td>

                                    <td><a href=" {{ path('updateProfil_fabric', {'id': fabricant.id}) }}"><i class="btn btn-warning btn-sm">Modifier</i></a>
                                
                                </tr>
                            {% endif %}
                            {% endfor %}
                        
        </tr>

    <tr>
                <div class="col-md-12">
                    <a href="{{ path('add_produitProfilFab' , {'id':app.user.id}) }}" class="btn btn-primary" style="float: right">Ajouter Produit</a>

                    <table class="table table-dark w-50 mx-auto">
                            <h5>Produits</h5>
                        <tr>
                            <th>Catégorie</th>
                            <th>Type</th>
                            <th>Matière</th>
                            <th>Photo</th>
                            <th>Distributeur</th>
                            <th>Fabriquant</th>
                            <th>Description</th>
                        </tr>
                
                {% for fabricant in fabricants %}
                {% if fabricant.user == app.user %}
                {% for fabricantP in fabricant.produits %}
                {% dump  fabricantP.fabric %}
                
                <tr>

                <td>{{ fabricantP.category }}</td>
                <td>{{ fabricantP.type }}</td>
                <td>{{ fabricantP.matiere }}</td>
                <td><img class="imgProduit" src="{{ asset('/Image/'~ fabricantP.image) }}"></td>
                        {% for distribs in fabricantP.distrib %}
                        <td>{{ distribs }}</td>
                        {% endfor %}
                <td>{{ fabricantP.fabric }}</td>
                <td>{{ fabricantP.content }}</td>

                    <td><a href=" {{ path('update_produit', {'id': fabricantP.id}) }}"><i class="btn btn-warning btn-sm">Modifier</i></a>
                    <a href="{{ path('delete_produit', {'id': fabricantP.id}) }}"><i class="btn btn-danger btn-sm">Supprimer</i></a>
                    </tr>

                {% endfor %}
                {% endif %}
                {% endfor %}
                

    </tr>

    </table>

{% endblock %}
