{% extends 'base.html.twig' %}

{% block title %}Bati-Contact{% endblock %}

{% block content %}

<h1 class=" text-center">* Rechercher par catégorie *</h1><br>

<div class="container-fluid d-flex justify-content-around flex-column">

    <div class=" container-fluid d-flex justify-content-around">

{% for produit in produitz %}

        <a href="{{ path('produitCat', {'cat': produit.category }) }}" class="cateIndex">
            <p>{{ produit.category }}</p>
        </a>

{% endfor %}


    
    </div>
</div>

<h1 class="text-center">* Nos guides d'achat *</h1><br>

<div class="container-fluid d-flex justify-content-around">

    {% for article in articles %}

        <div class="card bg-info text-white" style="width: 18rem;">
        <img class="card-img-top" src="{{ asset('/Image/'~ article.image) }}" alt="Card image cap">
        <div class="card-body">
            <h4 class="card-title">{{ article.titre }}</h4>
            <p>Intro :
                                    {{ article.preface }}</p>
            <a href="{{ path('articlePrecis', {'id': article.id}) }}" class="btn btn-primary">Continuer</a>
        </div>
        </div>
{% endfor %}


</div>


{% endblock %}
