{% extends 'admin/baseadmin.html.twig' %}

{% block content %}

<div class="admin-page">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <a href="{{ path('add_produit') }}" class="btn btn-primary" style="float: right">Ajouter Produit</a>
                    <h5>Produits</h5>

                    <table class="table table-dark">
                        <tr>
                            <th>Catégorie</th>
                            <th>Produits</th>
                            <th>Matière</th>
                            <th>Distributeur</th>
                            <th>Fabriquant</th>
                            <th>Photo</th>
                            <th>Description</th>
                        </tr>
                        {% set i = 1 %}
                        {# {% dump valeur %} #}
                        {# {% dump produits %} #}
                        {# {% dump  distribs %} #}

                {% for produit in produits %}
                <tr>

                        <td>{{ produit.category }}</td>
                        <td>{{ produit.type }}</td>
                        <td>{{ produit.matiere }}</td>

                        {% for distribs in produit.distrib %}
                        <td>{{ distribs }}</td>
                        {% endfor %}

                        <td>{{ produit.fabric }}</td>
                        <td><img class="imgProduit" src="{{ asset('/Image/'~ produit.image) }}"></td>
                        <td>{{ produit.content }}</td>

                    <td><a href=" {{ path('update_produit', {'id': produit.id}) }}"><i class="btn btn-warning btn-sm">Modifier</i></a>
                    <a href="{{ path('delete_produit', {'id': produit.id}) }}"><i class="btn btn-danger btn-sm">Supprimer</i></a>
                    </tr>
                {% endfor %}
                                
                            {% set i = i+1 %}
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                <a href="{{ path('security_registrationUser') }}" class="btn btn-primary" style="float: right">Ajouter Utilisateurs</a>
                    <h5>Utilisateurs</h5>
                    <table class="table table-dark table-striped">
                        <tr>
                            <th>#</th>
                            <th>Nom</th>
                            <th>Mot de passe</th>
                            {# <th>Role</th> #}
                        </tr>
                        {% set i = 1 %}
                        {% for user in users %}
                            <tr>
                                <td>{{ i }}</td>
                                <td>{{ user.username }}</td>
                                <td>{{ user.password }}</td>

                                <td><a href=" {{ path( 'update_user', {'id': user.id}) }}"><i class="btn btn-warning btn-sm">Modifier</i></a>
                                {# <a href="{{ path('delete_user', {'id': user.id}) }}"><i class="btn btn-danger btn-sm">Supprimer</i></a> #}</td>

                            </tr>
                            {% set i = i+1 %}
                        {% endfor %}
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                <a href="{{ path('security_addDist') }}" class="btn btn-primary" style="float: right">Ajouter Distributeur</a> 
                    <h5>Distributeur</h5>
                    <table class="table table-dark table-striped">
                        <tr>
                            <th>#</th>
                            <th>Marque</th>
                            <th>Siret</th>
                            <th>Ville</th>
                            <th>Email</th>
                            <th>Téléphone</th>
                            <th>Logo</th>
                        </tr>
                        {% set i = 1 %}
                        {% for distributeur in distributeurs %}
                            <tr>
                                <td>{{ i }}</td>
                                <td>{{ distributeur.marque }}</td>
                                <td>{{ distributeur.siret }}</td>
                                <td>{{ distributeur.ville }}</td>
                                <td>{{ distributeur.email }}</td>
                                <td>{{ distributeur.telephone }}</td>
                                <td><img class="imgProduit" src="{{ asset('/Image/'~ distributeur.logo) }}"></td>

                                <td><a href="{{ path('update_distrib', {'id': distributeur.id}) }}"><i class="btn btn-warning btn-sm">Modifier</i></a>
                                <a href="{{ path('delete_distrib', {'id': distributeur.id}) }}"><i class="btn btn-danger btn-sm">Supprimer</i></a></td>
                            </tr>
                            {% set i = i+1 %}
                        {% endfor %}
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                <a href="{{ path('security_addFab') }}" class="btn btn-primary" style="float: right">Ajouter Fabriquant</a>
                    <h5>Fabriquant</h5>
                    <table class="table table-dark ">
                        <tr>
                            <th>#</th>
                            <th>Marque</th>
                            <th>Siret</th>
                            <th>Ville</th>
                            <th>Email</th>
                            <th>Téléphone</th>
                            <th>Logo</th>
                        </tr>
                        {% set i = 1 %}
                        {% for fabricant in fabricants %}
                            <tr>
                                <td>{{ i }}</td>
                                <td>{{ fabricant.marque }}</td>
                                <td>{{ fabricant.siret }}</td>
                                <td>{{ fabricant.ville }}</td>
                                <td>{{ fabricant.email }}</td>
                                <td>{{ fabricant.telephone }}</td>
                                <td><img class="imgProduit" src="{{ asset('/Image/'~ fabricant.logo) }}"></td>

                                <td><a href=" {{ path('update_fabric', {'id': fabricant.id}) }}"><i class="btn btn-warning btn-sm">Modifier</i></a>
                                <a href="{{ path('delete_fabric', {'id': fabricant.id}) }}"><i class="btn btn-danger btn-sm">Supprimer</i></a></td>
                            </tr>
                            {% set i = i+1 %}
                        {% endfor %}
                    </table>
                </div>
            </div>

        </div>
    </div>

{% endblock %}