{% extends 'base.html.twig' %}

{% block content %}

        <h3 class="text text-danger">Résultat de votre recherche :</h3>
        <hr>

<div class="container-fluid d-flex justify-content-around">
{% for allproduit in allproduits %}

        <div class="card bg-info text-white" style="width: 18rem;">
        <img class="card-img-top" src="{{ asset('/Image/'~ allproduit.image) }}" alt="Card image cap">
        <div class="card-body">
            <h4 class="card-title">{{ allproduit.type }}</h4>
            <h5 class="card-title">{{ allproduit.category }}</h5>
            <p>Matière :
                                    {{ allproduit.matiere }}</p>
            {% for distribs in allproduit.distrib %}
            <p> Distributeur : 
                                            {{ distribs }}</p>
            {% endfor %}
            <p> Marque : 
                                            {{ allproduit.fabric }}</p>
                                    
            <a href="{{ path('produitPrecis', {'id': allproduit.id}) }}" class="btn btn-primary">Voir produit</a>
        </div>
        </div>
{% endfor %}
</div>


{% endblock %}

